In [4]:
# read the bank data
import pandas as pd
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/bank-additional.csv'
bank = pd.read_csv(url, delimiter=';')

In [5]:
bank.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

**Goal**: Predict whether a customer will purchase a bank product marketed over the phone

In [11]:
#target variable is column 21 - y. contains yes or no.
bank['get_loan'] = bank.y.map({'no':0, 'yes':1})

In [12]:
y = bank.get_loan

In [16]:
features = ['age', 'marital', 'education', 'housing']
X = bank[features]

* Include both numeric and categorical features
* Choose features that you think might be related to the response (based on intuition or exploration)
* Think about how to handle missing values (encoded as "unknown")

* Use cross-validation to evaluate the AUC of a logistic regression model with your chosen features
* Try to increase the AUC by selecting different sets of features

In [19]:
# lets inpute mode responses to the unknown for the housing
# lets also dummy code

0           yes
1            no
2           yes
3       unknown
4           yes
5            no
6           yes
7           yes
8            no
9            no
10          yes
11           no
12           no
13          yes
14           no
15           no
16           no
17          yes
18          yes
19           no
20          yes
21           no
22          yes
23           no
24          yes
25          yes
26           no
27           no
28           no
29           no
         ...
4089        yes
4090        yes
4091         no
4092         no
4093         no
4094        yes
4095         no
4096         no
4097         no
4098        yes
4099         no
4100         no
4101        yes
4102         no
4103         no
4104        yes
4105        yes
4106        yes
4107        yes
4108        yes
4109         no
4110    unknown
4111         no
4112        yes
4113        yes
4114        yes
4115        yes
4116         no
4117         no
4118        yes
Name: housing, dtype: object